---
layout: default
img:
title: Kandidátní listiny Pirátů se STANem pro komunální volby 2018
---

{% include submenu.html %}

<div class="row o-section-block o-section-block--divided">
    <div class="medium-12 large-12 columns">
        <section class="o-section">
            <div class="o-section-inner">
                <main class="o-section-block">
                    <div class="c-BasicPage">
                        <div class="c-BasicPage-content">
		<section class="o-section o-section--spaceBot">
			<div class="o-section-inner o-section-inner--leftBlock">
				<header class="o-section-header">
					<h1 class="o-section__heading text-center"> Kandidátní listina pro komunální volby v Brandýse - Boleslavi 2018</h1>
				</header>
			</div>
		</section>

                                        {% assign team = site.people | where_exp:"item","item.categories contains 'kandidat-komunalky-2018'" | sort:"ordkomunal2018" %}


                                        {% include people/list-candidates.html param=team %}
                                    </div>
                                </li>
				<div class="text-center">
				</br>
				<p>Pozn.: Zbytek kandidátky bude představen po jejím schválení. V současné době se projednává a schvaluje koaliční kandidátka Pirátů se STANem. Až bude schválena oběma stranami, publikujeme zde kompletní podobu kandidátky tak, jak s ní půjdeme do voleb. 
				</div>
                            </ul>
                        </div>
                    </div>
                </main>
            </div>
        </section>
  </div>
</div>
