{% if page.profiles.flickr and page.img %}
       <div class="c-widget-accordion-content__cta">
       </div>
<div class="o-section-block">
    <ul class="c-widget-accordion" data-accordion="" data-allow-all-closed="true">
      <li class="c-widget-accordion-item is-active" data-accordion-item="">
        <div class="c-widget-accordion-content" data-tab-content="">
          {% asset '{{ page.img }}' alt='{{ page.name }}' magick:resize="350x" class='c-person-image' %}
          <div class="c-widget-accordion-content__cta">
            {% assign peopleCol = site.collections | where: "label", "people" | first %}
            <a class="expanded button large u-0margin" href="{{page.profiles.flickr}}"> Zobrazit více fotografií </a>
          </div>
        </div>
      </li>
     </ul>
</div>
{% else %}
	{% if page.img %}
	{% asset '{{ page.img }}' alt='{{ page.name }}' magick:resize="350x" class='c-person-image' %}
	{% endif %}
{% endif %}

