---
layout: default
---

<article itemtype="http://schema.org/BlogPosting" class="c-BasicPage" itemscope="">
  <div class="row">
    <div class="medium-12 columns">
      <div class="o-section o-section--noSpaceBottom">
        <div class="">
          <div class="o-section-block o-section-block--fill">
            <div class="o-section-inner">
              <div class="medium-12 columns">
                <!-- Article -->
                <link itemprop="mainEntityOfPage" href="http://insertshownpagelinkhere.com">
                <header class="c-BasicPage-header">
                  <h1 itemprop="headline" class="c-BasicPage__title"> {{page.title}} </h1>
                  <div class="c-BasicPage__meta">
                    <span itemprop="description" class="c-BasicPage__datePublished">
                      <i class="fa fa-calendar-o" aria-hidden="true"></i> {{page.date | date: "%d. %m. %Y" }}
                      <meta itemprop="datePublished" content="{{page.date | date_to_xmlschema }}">
                      <meta itemprop="dateModified" content=""> </span>
                    <br class="hide-for-medium">
                    <!-- Authors -->
                    <span itemprop="author" itemtype="http://schema.org/Person" class="c-BasicPage__authors" itemscope="">
                      <i class="fa fa-user" aria-hidden="true"></i>
                      <span itemprop="name" class="c-BlogPosting-excerpt__author">{{page.author}}</span>
                    </span>
                    <div class="c-BasicPage-tags">

                      <span class="c-BasicPage-tags__headline">Tagy</span>
                      <ul class="c-tag-list">
                        {% for tag in page.tags %}
                        <li>
                          <a href="{{ tag | prepend: '/tags/#' | relative_url }}" class="c-tag">{{tag}}</a>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </header>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="o-section-block o-section-block-fill">
    <div class="c-BasicPage-headline-img">
      <div class="c-BasicPage-headline-bg">
        <img src="{{ page.image | relative_url }}" alt="{{page.title}}"> </div>
      <div class="row small-collapse medium-uncollapse">
        <div class="small-12 columns">
          <div class="o-section-inner--medium">
            <img src="{{ page.image | relative_url }}" alt="{{page.title}}"> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row o-section-block">
    <div class="small-12 columns">
      <div class="o-section o-section--noSpaceBottom">
        <div class="">
          <div class="o-section-block o-section-block--fill">
            <div class="o-section-inner">
              <div class="medium-12 large-8 columns">
                <div itemprop="description" class="c-BasicPage-content">
                  {{content}}
                </div>
              </div>
              <div class="medium-12 large-4 columns">
                <div class="c-widget-share-box c-widget-share-box--mediumstacked">
                  <div class="c-widget-share-box-headline">Sdílení je aktem lásky</div>
                  <div class="c-widget-share-box-content">
                    <div class="c-widget-share-box__tweet">
                      <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a>
                      <script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                    <div class="c-widget-share-box__fb">
                      <div class="fb-like" data-href="{{page.url | relative_url}}" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                    </div>
					<br/><br/>
					<div class="c-widget-share-box-headline u-center">Přihlašte se k odběru novinek</div>
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://pirati.us19.list-manage.com/subscribe/post?u=289f8c157a42a6602d84af15e&amp;id=d3cdf929b6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Přihlašte se k odběru novinek</h2>
<div class="mc-field-group">
	<label for="mce-EMAIL">Emailová adresa</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_289f8c157a42a6602d84af15e_d3cdf929b6" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Odeslat" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
					
                  </div>
                </div>
                <!--
                <div class="c-widget-simple-text c-widget-simple-text--stacked" id="relatives-box">
                  <div class="c-widget-share-box-headline u-center">Kam dále?</div>
                  <div class="c-widget-share-box-content">
                    <ul id="relatives" />
                  </div>
                </div>
                -->
                <a href="//dary.pirati.cz" target="_blank">
                  <div class="c-widget-share-box c-widget-share-box--directions c-widget-simple-text--stacked">
                    <div class="c-widget-share-box-headline u-center">Chcete nám pomoci?</div>
                    <div class="c-widget-share-box-content u-center">
Podpořte nás
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="o-section-inner">
              <div class="medium-12 large-6 columns">
                {% if page.authorId %}
                  {% assign item =  site.people | where_exp:"item","item.uid contains page.authorId" | first %}
                  {% include people/autor-clanku.html param=""%}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
